@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
  color: white;
  /* REMOVE overflow: hidden */
  overflow-x: hidden; /* optional: hide horizontal scroll if layout overflows */
  overflow-y: auto;   /* allows vertical scroll */
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
